* {
    font-family: 'Poppins';
    box-sizing: border-box;
    color: white;
}
:root {
    --Red: hsl(0, 100%, 74%);
    --Green: hsl(154, 59%, 51%);
    --Blue: hsl(248, 32%, 49%);
    --Dark-Blue: hsl(249, 10%, 26%);
    --Grayish-Blue: hsl(246, 25%, 77%);
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url(images/bg-intro-desktop.png);
    background-color: var(--Red);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 100px;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 0;
    max-width: 80%;
}

header {
    display: flex;
    flex-direction: column;
    width: 40rem;
}

section {
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3rem;
}

.offer {
    width: 30rem;
    margin-bottom: 1rem;
    background-color: var(--Blue);
    border-radius: 10px;
    box-shadow: 0 5px 1px 0.5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    transition: ease-in-out 0.1s all;
}
.offer p span {
    font-weight: 800;
}

.input-form {
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    border-radius: 10px;
    background-color: white;
    padding: 1rem;
    box-shadow: 0 5px 1px 0.3px rgba(0, 0, 0, 0.3);
}

input {
    width: 100%;
    border-radius: 10px;
    padding: 0.8rem 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: black;
    font-weight: 600;
    margin-top: 5px;
}

input::placeholder {
    font-size: 0.9rem;
}

input:focus {
    outline: none;
}

button {
    width: 100%;
    padding: 0.8rem;
    margin-top: 10px;
    border: none;
    background-color: var(--Green);
    border-radius: 8px;
    box-shadow: 0 5px 1px 0.5px rgba(78, 156, 78, 0.582);
    transition: ease-in-out 0.1s all;
    font-size: 1rem;
}

button:active, .offer:active {
    box-shadow: none;
    transform: translateY(5px);
}

.faq p {
    width: 30rem;
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.8rem;
    text-align: center;
}

.faq p span {
    color: var(--Red);
    font-weight: 800;
    font-size: 0.8rem;
}

#valid1, #valid2, #valid3, #valid4 {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
    color:red;
    position: relative;
}

@media screen and (max-width:700px) {
    body {
        font-size: 1rem;
        overflow-y: auto;
        overflow-x: hidden;
    }

    main {
        flex-direction: column;
        width: 100%;
        margin: auto;
        gap: 30px;
    }

    header {
        text-align: center;
        margin-top: 5rem;
        gap: 0;
    }

    header, section, form, .offer, .input-form {
        width: 100%;
    }

    section {
        margin-bottom: 2rem;
    }

    .offer {
        text-align: center;
    }

    .offer p {
        font-size: 0.8rem;
    }

    .faq {
        width: 100%;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
    }

    h1 {
        font-size: 2.5rem;
    }
}